
h3 {
    font-weight: 400
}

h3 small {
    font-weight: 300
}

h4 {
    font-size: 26px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 16px
}

em {
    font-style: italic
}

.fl {
    float: left
}

.fr {
    float: right
}

.display-b {
    display: block
}

.display-i {
    display: inline-block
}
/*
.p-r {
    position: relative
}
*/
.p-a {
    position: absolute
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.w100 {
    width: 100%
}

.w91 {
    width: 91%
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mt10 {
    margin-top: 10px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px
}

.mt100 {
    margin-top: 100px
}

.mt200 {
    margin-top: 200px
}

.mr0 {
    margin-right: 0px
}

.mr10 {
    margin-right: 10px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.mb0 {
    margin-bottom: 0
}

.mb10 {
    margin-bottom: 10px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.ml0 {
    margin-left: 0
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.p0 {
    padding: 0
}

.pt0 {
    padding-top: 0
}

.pt10 {
    padding-top: 10px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pr0 {
    padding-right: 0
}

.pr10 {
    padding-right: 10px
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px
}

.pr40 {
    padding-right: 40px
}

.pr50 {
    padding-right: 50px
}

.pb0 {
    padding-bottom: 0
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pl0 {
    padding-left: 0
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

.pl30 {
    padding-left: 30px
}

.pl40 {
    padding-left: 40px
}

.pl50 {
    padding-left: 50px
}

.nobt {
    border-top: none
}

.nobb {
    border-bottom: none
}

.nomb {
    margin-bottom: 0
}

.line1 {
    border: 1px solid #4c4342
}

.btline1 {
    border-top: 1px solid #d8d8d8
}

.brline1 {
    border-right: 1px solid #d8d8d8
}

.bbline1 {
    border-bottom: 1px solid #d8d8d8
}

.blline1 {
    border-left: 1px solid #d8d8d8
}

.dot1 {
    border-bottom: 1px dotted #d3d3d3
}

.kuang {
    width: 100%;
    height: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 10px;
    color: #9aa2ae
}

.text-l {
    text-align: left
}

.text-r {
    text-align: right
}

.text-c {
    text-align: center
}

.line-height16 {
    line-height: 16px
}

.line-height60 {
    line-height: 60px
}

.f10 {
    font-size: 10px
}

.f12 {
    font-size: 12px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f24 {
    font-size: 24px
}

.f30 {
    font-size: 30px
}

.f40 {
    font-size: 40px
}

.h335 {
    height: 335px
}

.nav .dropdown,
.nav .dropdown .dropdown-menu,
.dropdown-menu {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-nav > li:hover .dropdown-menu {  
    display: block;  
}  

.table1,
.table4 {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
}

.table1,
.table2,
.table3 {
    width: 100%
}

.table1 tr {
    height: 47px
}

.table1 td {
    padding: 15px 0
}

.table1 .th {
    font-weight: bold;
    width: 18%
}

.table1 .th1 {
    font-weight: bold;
    width: 8%
}

.table1 tr p {
    line-height: 24px
}

.table2 tr td {
    height: 24px
}

.table2 .th {
    width: 15%
}

.table2 .th2 {
    width: 80%
}

.table2 .th3 {
    text-align: right
}

.table3 td {
    padding: 5px 0
}

.table4 td {
    padding: 2px 0
}

.c-green {
    color: #6bbc6e
}

.c-orange {
    color: #f5a845
}

.c-blue {
    color: #2a71b9
}

.c-green {
    color: #6bbc6e
}

.c-grey {
    color: #747474
}

.c-fff {
    color: #fff
}

.c-bg1 {
    background: #f5a845
}

.c-bg2 {
    background: #45a6e4
}

.c-bg3 {
    background: #e96547
}

.c-bg4 {
    background: #a2c056
}

.c-bg5 {
    background: #ffd845
}

.progress-green-bg {
    background: #6bbc6e
}

.progress-green {
    background: #cfe8cf
}

.progress-blue-bg {
    background: #2a71b9
}

.progress-blue {
    background: #cfe2ee
}

.panel-title a:hover {
    text-decoration: none
}

a.grey1 {
    color: #8e8e8e;
    text-decoration: underline
}

a.login {
    color: #747474
}

a.login:hover {
    color: #009fe3
}

body {
    color: #323336;
    font-size: 14px
}

header {
    background: #FFF;
    box-shadow: 0 0 10px 0 #d3d0cb;
    margin-bottom: 3px
}

#maincontent .container {
    background: #f8f5ef;
    position: relative;
    color: #323336;
    padding: 10px 20px
}

#maincontent {
    background: transparent;
    padding: 0 0
}

footer {
    text-align: center
}

.footer-top,
.footer-bottom {
    background: transparent;
    border: 0 none;
    padding: 0 0
}

.footer-top .container,
.footer-bottom .container {
    background: #f8f5ef
}

.footer-top .container {
    padding: 30px 30px
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: 100%;
    background: url(/img/ui.totop.png) no-repeat left top
}

#toTopHover {
    background: url(/img/ui.totop.png) no-repeat left -51px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0)
}

#toTop:active,
#toTop:focus {
    outline: none
}

.head {
    height: 120px;
    background: #2c2c2c
}

.logo {
    width: 116px;
    left: 50%;
    margin-left: -58px
}

.login ul {
    width: 151px
}

.login ul li {
    float: left;
    width: 40px
}

.conBox {
    width: 100%
}

.panels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background: #888;
    width: auto
}

.panel01 {
    display: block;
    float: left;
    width: 16.66%;
    color: #fff;
    padding: 80px 60px 90px
}

@media (min-width: 992px) {
    .panel01 {
        width: 20%
    }
}

@media (max-width: 1140px) {
    .panel01 {
        width: 33.33%
    }
}

@media (max-width: 760px) {
    .panel01 {
        width: 50%
    }
}

@media (max-width: 480px) {
    .panel01 {
        width: 100%
    }
}

.bg {
    max-width: 100%;
    height: 100%;
    z-index: 1
}

.box {
    width: 1120px;
    margin: 0 auto
}

.editor-nav>li {
    float: left;
    list-style: none;
    font-size: 14px
}

.nav>li a {
    color: #3a3332
}

.nav>li>a {
    display: block;
}

.w0 {
    /*width: 100%;*/
    max-height: 100%;
    height: 100%;
}

.w1 {
    width: 6%;
}

.w2 {
    width: 320px;
    height: 100%;
    max-height: 100%;
}

.w3 {
    width: 360px;
}

.w4 {
    width: 30%;
}

.w5 {
    width: 25%;
}

.w6 {
    width: 320px;
    padding: 5px;
    margin: 5px;
    height: auto;
    -webkit-box-shadow: 2px 2px 20px #06c;
	-moz-box-shadow: 2px 2px 20px #06c;
	box-shadow: 2px 2px 20px #06c;
}

.w7 {
    -webkit-box-shadow: 0px 0px 20px #06c;
	-moz-box-shadow: 0px 0px 20px #06c;
	box-shadow: 0px 0px 20px #06c;
    margin-top: 1rem;
}

.w8 {
    width: 12%;
    margin-left: 40px;
    /*margin-right: 40px;*/
    -webkit-box-shadow: 0px 0px 20px #06c;
    -moz-box-shadow: 0px 0px 20px #06c;
    box-shadow: 0px 0px 20px #06c;
}
.w-l {
    position: relative;
    left: 30px;
}

.h1 {
    height: 530px
}

.n1 {
    height: 65px;
    background: #3a3332;
    color: #dad9d8;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 65px
}

.n2 {
    height: 65px;
    background: RGBA(218, 98, 71, 0.95);
    margin: 0 2px;
    color: #dad9d8;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 65px
}

.n2 a,
.n2 a:hover,
.n2 a:focus {
    color: #dad9d8
}

.n1-1 {
    height: 50%;
    background: RGBA(0, 0, 0, 0.3)
}

.n1-1 li {
    width: 80px;
    height: 50px;
    color: #dad9d8;
    text-align: center
}

.n1-1 li a {
    display: block;
    line-height: 50px;
    color: #dad9d8;
    text-decoration: none;
    font-size: 14px
}

.n1-1 li.active,
.n1-1 li a:hover {
    background: #4c4342;
    text-decoration: none
}

.item {
    width: 380px;
    height: 503px;
    overflow-y: auto;
    overflow-x: hidden;
    background: RGBA(255, 255, 255, 0.3);
    margin: 0 2px;
    font-size: 14px;
    color: #3a3332
}

.item img {
    max-width: 100%
}

.item li {
    padding: 10px 15px;
    cursor: pointer
}

.item li:hover {
    background: #f0f0f0
}

.editor1 {
    width: 658px;
    height: 65px;
    background: rgba(245, 245, 245, 0.6)
}

.editor1 {
    padding-left: 90px;
    padding-top: 0px
}

.ecolor li {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-right: 10px
}

.editor2 {
    width: 658px;
    height: 503px;
    background: RGBA(255, 255, 255, 0.3);
    padding-top: 0px;
    box-sizing: content-box
}

.editorBox {
    width: 500px;
    background: #fff;
    margin: 0 auto
}

.btnline {
    margin-top: 5px;
    margin-left: 120px
}

.btn1,
.btn2 {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center
}

.btn1 {
    width: 80px;
    height: 36px
}

.btn2 {
    color: #534740
}

.btn2:hover {
    background: rgba(245, 245, 245, 0.5);
    border-color: #fff;
    color: #333
}

.btnbg1 {
    background: #534740;
    color: #fff
}

.editorslide {
    position: absolute;
    top: 30%;
    right: 44px
}

.editorslide .btn .fa {
    font-size: 20px
}

.editorslide .btn {
    width: 72px;
    height: 32px;
    color: #FFF;
    font-size: 18px;
    border: 0 none;
    box-shadow: 0 0 0px 1px rgba(188, 176, 167, 0.8);
    margin-top: 2px
}

.editorslide .btn-default {
    background: rgba(58, 51, 50, 0.4)
}

.editorslide .btn-default:hover {
    background: rgba(58, 51, 50, 0.7)
}

.editorslide li {
    width: 32px;
    height: 32px;
    margin-bottom: 3px
}

.change {
    height: 36px;
    line-height: 36px;
    text-align: right;
    float: right
}

.change a {
    color: #fff;
    text-decoration: underline
}

.links a,
.ifo,
.links {
    color: #fff
}

.ifo {
    height: 36px;
    line-height: 36px
}

.ecolorbg1 {
    background: #e84e0f
}

.ecolorbg2 {
    background: #1abbc5
}

.ecolorbg3 {
    background: #009fe3
}

.ecolorbg4 {
    background: #f4215c
}

.ecolorbg5 {
    background: #ffd602
}

.ecolorbg6 {
    background: #f5a100
}

.ecolorbg7 {
    background: #9abc36
}

.ecolorbg8 {
    background: #e84e0f
}

.ie6 {
    position: absolute
}

.ie6.top-right {
    right: auto;
    bottom: auto;
    left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth: document.body.clientWidth) + ( ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft)) + 'px');
    top: expression( ( 0 + ( ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop)) + 'px')
}

.ie6.top-left {
    left: expression( ( 0 + ( ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft)) + 'px');
    top: expression( ( 0 + ( ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop)) + 'px')
}

.ie6.bottom-right {
    left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth: document.body.clientWidth) + ( ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft)) + 'px');
    top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight) + ( ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop)) + 'px')
}

.ie6.bottom-left {
    left: expression( ( 0 + ( ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft)) + 'px');
    top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight) + ( ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop)) + 'px')
}

.ie6.center {
    left: expression( ( 0 + ( ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft: document.body.scrollLeft)) + 'px');
    top: expression( ( 0 + ( ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop)) + 'px');
    width: 100%
}

.jGrowl {
    z-index: 99999999;
    color: #fff;
    font-size: 12px;
    position: fixed
}

.jGrowl.top-left {
    left: 0px;
    top: 0px
}

.jGrowl.top-right {
    right: 0px;
    top: 0px
}

.jGrowl.bottom-left {
    left: 0px;
    bottom: 0px
}

.jGrowl.bottom-right {
    right: 0px;
    bottom: 0px
}

.jGrowl.center {
    top: 35%;
    width: 30%;
    left: 35%
}

.center .jGrowl-notification,
.center .jGrowl-closer {
    margin-left: auto;
    margin-right: auto
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=85);
    zoom: 1;
    min-width: 325px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    display: none;
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 0 0 5px 0 #333;
    -moz-box-shadow: 0 0 5px 0 #333;
    -webkit-box-shadow: 0 0 5px 0 #333
}

.jGrowl .jGrowl-notification {
    min-height: 40px
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
    margin: 10px
}

.jGrowl .jGrowl-notification .jGrowl-header {
    font-weight: bold;
    font-size: .85em
}

.jGrowl .jGrowl-notification .jGrowl-close {
    z-index: 99;
    float: right;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer
}

.jGrowl .jGrowl-closer {
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    text-align: center
}

@media print {
    .jGrowl {
        display: none
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
}
#full-page{
    margin-left: 0px;
    max-height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif !important;
}

.lveditor {
    max-width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 18px
}

#edui_fixedlayer {
    z-index: 1000000 !important;
}

p {
    clear: both;
    margin: 0 0;
    font-size: 14px;
    min-height: 1em;
}

::-webkit-scrollbar {
    width: 8px;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 18px
}

.otf-poptools {
    width: 200px;
}

.otf-poptools span {
    margin: 0 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px #645654;
    /*rgba(60,60,60,0.5)*/
}

.popover {
    max-width: 360px;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.alert-warning {
    background-color: rgba(255, 255, 255, 0.4);
    border: 0 none;
    color: #3a3332;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

#header-breadcrumb {
    display: none;
}

.footer-bottom {
    padding: 2px;
    font-size: 80%;
}

#maincontent {
    margin: 0;
    padding: 0;
}

#left-sidebar .ui-portlet {
    margin: 0px;
}

#left-side-affix {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

#left-sidebar .btn-group .btn {
    padding: 4px 16px;
}

.modal-backdrop {
    z-index: 1000000;
}

.mix {
    display: none;
}

.cke_reset_all,
.cke_reset_all * {
    position: initial;
}

.affix {
    top: 0px;
    background-color: #FFF;
    z-index: 100;
    position: fixed;
}

.col-xs-6 {
    width: 49%;
}

.color-swatch {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    margin: 4px 2px;
}

.color-box {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: solid 1px #ddd;
    margin-top: 3px;
    float: left;
    margin-right: 5px;
}

.color-swatch:hover,
.color-swatch.active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
    -moz-box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
    box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
}

#nav-header .category-nav>li:nth-child(2) a {
    color: red;
}

#nav-header .category-nav>li:nth-child(3) a {
    color: red;
}

.col-sm-4,
.col-sm-6,
.col-sm-2 {
    padding-right: 5px;
    padding-left: 5px;
}

#params-setting ul {
    padding: 0;
}

#params-setting .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid #DDD;
}

#params-setting li {
    list-style: none;
}

#params-setting label {
    display: block;
    line-height: 18px;
    font-weight: normal;
}

#params-setting input {
    margin-right: 5px;
    margin-top: 3px;
    float: left;
}

.cke_button__source_label {
    display: none;
}

.cke_combo__font .cke_combo_text {
    padding-left: 5px;
    width: 60px;
}

.cke_combo__styles .cke_combo_text {
    width: 80px;
}

.cke_chrome {
    border: none;
    box-shadow: 0 0 1px 1px rgba(172, 181, 194, 0.56);
}

#editor-styles .nav>li>a {
    padding: 10px 5px;
    text-align: center;
}

#editor-tpls-list .style-list {
    margin-top: 20px;
    position: relative;
}

#editor-tpls-list .style-list .content,
#template-modal-body .style-list .content {
    cursor: pointer;
    padding: 0 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 3px rgb(170, 170, 170);

}

#editor-tpls-list .style-list .tools,
#template-modal-body .style-list .tools {
    display: none;
}

#editor-tpls-list .row {
    margin: 0 -5px;
}

#editor-tpls-list .col-md-6 {
    padding: 0 5px;
}

.popover-content .btn {
    width: 70px;
    margin-top: 3px;
    padding: 1px 5px;
}

#more-popover .popover-content {
    padding: 5px 5px;
    width: 160px;
    max-width: 360px;
    height: 160px;
}

#insert-style-list li .btn {
    display: none;
}

#insert-style-list li:hover .btn {
    display: inline;
}

#insert-style-list li {
    position: relative;
    background: #FFF;
    border-bottom: 1px dotted #ddd;
}

#preview-msg-content *,
#insert-style-list .ui-portlet-list>li * {
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
}

#insert-style-list .ui-portlet-list>li p {
    clear: both;
    margin: 0 0;
    line-height: 1.6;
}

#insert-style-list .origin {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    padding: 2px
}

img {
    vertical-align: baseline;
}


/* fix Firefox - max-width images not working within fieldset */

fieldset img {
    width: 100%;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

#editor-tpls-navtab>li {
    padding: 0 0;
}

.editor-nav .fa {
    width: 18px;
    text-align: center;
    margin: 0 auto;
}

#bg-choose .default,
#bg-choose .chooser {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.modal-open .modal {
    z-index: 10000000;
}

#nav-header {
    width: 1120px;
    margin: 0 auto;
}

.small-height #nav-header {
    position: absolute;
    width: 140px;
    background: RGBA(255, 255, 255, 0.3);
    margin-left: 5px;
    padding: 1px 1px;
}

.small-height #nav-header .nav>li>a {
    width: 120px;
    text-align: right;
}

.small-height .open>.dropdown-menu {
    display: block;
    top: 0;
    left: 99%;
}

.small-height #login-menus,
.small-height #login-links {
    margin-top: 20px;
}

.small-height #nav-header:hover {
    z-index: 1000;
}

#favor-colors .color-swatch {
    position: relative;
}

#favor-colors .color-swatch .fa {
    position: absolute;
    right: -5px;
    top: -5px;
    display: none;
}

#favor-colors .color-swatch:hover .fa {
    position: absolute;
    right: -5px;
    top: -5px;
    display: block;
}

#favor-colors .color-swatch .fa:hover {
    color: red;
}

.editorslide {
    width: 80px;
    right: 0px;
}

.editorslide:hover {
    z-index: 10;
}

.editorslide li {
    width: 80px;
}

#WxMsgContent {
    width: 500px;
    height: 470px;
}

.modal-header h3 {
    margin: 0 10px;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

ol.sync-article-list {
    list-style-type: none;
}

ol.sync-article-list li {
    cursor: pointer;
}

ol.sync-article-list li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ol.sync-article-list li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

.nodel .delete-pop {
    display: none;
}

.article-msg {
    border-bottom: 1px solid #FFf;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    line-height: 1.8em;
}

.article-msg .title {
    font-size: 16px;
    font-weight: bold;
}

.article-msg .opr-edit {
    display: none;
}

.article-msg .cover {
    float: right;
    margin-left: 15px;
}

.article-msg img {
    width: 90px;
    height: 90px;
}

.article-msg .summary {
    clear: none;
}

.article-msg p {
    min-height: 0;
    clear: none;
}

#editor-msg-list .col-md-4 {
    width: 100%;
}

#editor-msg-list .col-xs-6 {
    width: auto;
}

#editor-msg-list .delete-pop {
    padding-left: 0px;
}

#right-fix-tab {
    width: 32px;
    position: absolute;
    right: 0px;
}

#right-fix-tab li {
    width: 32px;
    background: rgba(58, 51, 50, 0.8);
    border: 0 none;
    color: #FFF;
    width: 32px;
    font-size: 16px;
}

#color-plan .nav-tabs>li>a {
    padding: 5px;
    color: #efefef;
    border: 0 none;
}

#color-plan .nav-tabs>li>a:hover {
    background: transparent;
    color: #FFF;
}

#color-plan .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #000;
    color: #FFF;
    border: 0 none;
}

#more-popover-content .btn-xs {
    font-size: 12px;
    padding: 5px 2px;
    width: 54px;
    margin: 0px 0 8px;
    border: 0 none;
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
}

#more-popover-content .btn-xs:nth-child(8n+1),
#more-popover-content .btn-xs:nth-child(8n+2) {
    border-color: rgb(213, 149, 69);
    color: rgb(213, 149, 69);
}

#more-popover-content .btn-xs:nth-child(8n+1):hover,
#more-popover-content .btn-xs:nth-child(8n+2):hover {
    background-color: rgb(213, 149, 69);
    color: #FFF;
}

#more-popover-content .btn-xs:nth-child(8n+3),
#more-popover-content .btn-xs:nth-child(8n+4) {
    border-color: rgb(234, 100, 71);
    color: rgb(234, 100, 71);
}

#more-popover-content .btn-xs:nth-child(8n+3):hover,
#more-popover-content .btn-xs:nth-child(8n+4):hover {
    background-color: rgb(234, 100, 71);
    color: #FFF;
}

#more-popover-content .btn-xs:nth-child(8n+5),
#more-popover-content .btn-xs:nth-child(8n+6) {
    border-color: rgb(71, 151, 201);
    color: rgb(71, 151, 201);
}

#more-popover-content .btn-xs:nth-child(8n+5):hover,
#more-popover-content .btn-xs:nth-child(8n+6):hover {
    background-color: rgb(71, 151, 201);
    color: #FFF;
}

#more-popover-content .btn-xs:nth-child(8n+7),
#more-popover-content .btn-xs:nth-child(8n+8) {
    border-color: rgb(137, 154, 80);
    color: rgb(137, 154, 80);
}

#more-popover-content .btn-xs:nth-child(8n+7):hover,
#more-popover-content .btn-xs:nth-child(8n+8):hover {
    background-color: rgb(137, 154, 80);
    color: #FFF;
}
#modelshow_ul {
    display:-moz-box;
    display:-webkit-box;
    width: 100%;
}
#modelshow_ul_li1, #modelshow_ul_li2, #modelshow_ul_li3, #modelshow_ul_li4 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#modelshow_ul_li1 {
    width: 25%;
}

#modelshow_ul_li2 {
    width: 25%;
}

#modelshow_ul_li3 {
    width: 25%;
}

#modelshow_ul_li4 {
    width: 25%;
}
.lvsidebar {
    font-size: 2rem;
    background-color: rgb(213, 199, 69);
    text-align: center;
    border-radius: 20px;
}
#wxnews1{
    background-color: rgb(255, 255, 255);
    width:260px;
}
#wxdate{
    font-size: 1rem;
    margin-left: 5px;
}
.wxnewstotal_item {
    height: 3rem;
    width: 3rem;
    text-align: center;
    border: 1px;
    border-color: #000;
    border-style:solid;
    background-color: #fff;
    flex-wrap: wrap;
}
